@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* –––––––––– Typography styles –––––––––– */

p {
    font-family: "Montserrat", sans;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.3em;
}



@font-face {
    font-family: "Nighfall";
    src: url("/assets/fonts/Nightfall.ttf");
  }

h1, h2 {
    font-family: "Nightfall", serif;
    letter-spacing: 0.1em;
}

.button {
    @apply inline-block border rounded-full py-2 px-6 hover:bg-white/5; 
}

/* ------------ Mobile menu ------------ */

.mobile-menu-hidden { @apply left-[100vw] -right-[100vw] }
  
.burger.active { @apply text-citrus fixed top-14 md:top-0 right-12 md:right-0 md:absolute }
  