<!------------------ Header ------------------>

<header class="h-[100vh] z-50 md:z-10 relative overflow-hidden">

  <!------------------ Logo ------------------>

  <div class="flex justify-start md:justify-center items-center p-12">
    <div class="z-40"> 
      <a href="/index.html"><img src="assets/waves-logo-band.svg" class="w-48 md:w-60 z-30"></a>
    </div>
  </div>

  <!------------------ Burger button ------------------>

  <div class="z-[55] absolute top-14 right-12">
    <a href="#" class="text-2xl burger text-citrus">

      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" viewBox="0 0 71 46.663">
        <g id="Gruppe_20" data-name="Gruppe 20" transform="translate(-1761.5 -93)">
          <line id="Linie_1" data-name="Linie 1" x2="71" transform="translate(1761.5 94.5)" fill="none" stroke="#fef8d3" stroke-width="3"/>
          <line id="Linie_2" data-name="Linie 2" x2="71" transform="translate(1761.5 116.331)" fill="none" stroke="#fef8d3" stroke-width="3"/>
          <line id="Linie_3" data-name="Linie 3" x2="71" transform="translate(1761.5 138.163)" fill="none" stroke="#fef8d3" stroke-width="3"/>
        </g>
      </svg>
      
    </a>
  </div>

  <!------------------ Mobile menu ------------------>
  <div class="">
    <div class="from-navy to-ocean bg-gradient-to-b fixed md:absolute inset-0 h-screen md:ml-[50%] w-screen md:w-[50%] z-40 md:z-0 transition-all duration-1000 mobile-menu mobile-menu-hidden">
      <div class="h-screen">
        
        <div class="flex flex-col text-citrus items-center justify-center space-y-10 pt-60 md:pt-80">
          <a href="/menu.html" class="font-display border-b border-sky/0 hover:border-b hover:border-citrus pb-4 font-light text-[2.5rem] tracking-[.02em]">Menu</a>          
          <a href="/menu.html" class="font-display border-b border-sky/0 hover:border-b hover:border-citrus pb-4 font-light text-[2.5rem] tracking-[.02em]">Co-Work</a>
          <a href="/about.html" class="font-display border-b border-sky/0 hover:border-b hover:border-citrus pb-4 font-light text-[2.5rem] tracking-[.02em]">About</a>
          <div class="pt-4"><a href="https://calendly.com/" class="button">Book now</a></div>
        </div>      
      </div>
    </div>
  </div>
</header>