<!DOCTYPE html>
<html lang="en">

<head>
       
    <!-- Meta Data -->
    <meta charset="utf-8">
    
        <!-- Meta data for SEO purposes. -->
        <title> {{page.seo.title}} </title>
        <meta name="description" content="{{page.seo.meta-description}}">
        <meta name="keywords" content="{{page.seo.meta-keywords}}">
    
        <!-- meta data to tell the browser that your devide is responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
        <!--  Social media sharing META Tags -->
        <meta property="og:title" content="{{page.seo.title}}">
        <meta property="og:description" content="{{page.seo.meta-description}}">
        <meta property="og:image" content="{{page.seo.featured-image_path}}">
        <meta property="og:url" content="{{page.url}}">
        <meta name="twitter:card" content="{{page.seo.meta-description}}">
        <meta name="og:site_name" content="{{site.data.settings.general.site-name}}">
    
        {% if page.seo.hide-from-google == true %}
          <meta name="robots" content="noindex">
        {% endif %}
    
    <!-- End of Meta tags -->
    
    <!-- Google fonts -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">
  
  </head>

<body>
    {{content}}

    <!------------------ Body scripts ------------------>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Slick Slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Custom Javascript -->
    <script type="module" src="/main.js"></script>
</body>

</html>